* {
  text-align: center;
}

.container {
  margin: 20px auto;
  max-width: 720px;
}

.container-main {
  display: flex;
  flex-direction: column;
}

.btn-block {
  margin-bottom: 20px;
}

.btn {
  margin-left: 20px;
}

.input-group {
  margin-bottom: 10px;
}

.spinner-border {
  margin-top: 50px;
}

.btn-link {
  cursor: pointer;
}
